<h2><%= @stylist.name() %>'s clients</h2>

<% if @stylist.clients().any?() %>

<ul class="list">
  <% @stylist.clients().each() do |client| %>
  <li><a href="/clients/<%=client.id()%>/edit"><%= client.name() %></li>
  <% end %>
</ul>

<% else %>
<p>There are no clients on this list!</p>
<% end %>
<hr />



  <h3>Add new client for <%= @stylist.name() %> here </h3>

  <form action="/clients" method="post">
    <label for="stylist_id">Select a stylist</label>
    <select id='stylist_id' name='stylist_id' type='text'>
      <% @stylists.each() do |stylist| %>
      <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
      <% end %>
    </select>


    <label for="name">Client name:</label>
    <input id="name" name="name" type="text">

    <button type="submit">Add client name</button>
  </form>

  <hr>

  <p><a href="/stylists/<%= @stylist.id() %>/edit">Edit <%= @stylist.name() %> information </a></p>
  <p><a href="/">Return to Main Page</a></p>

  <hr>

  <div class="container">
    <a href="/">Home</a>
    <a href="/stylists">View all stylists</a>
    <a href="/stylists/new">Add new stylist</a>
    <a href="/stylists/new">Add new client</a>
  </div>
